
$COLOR_BLACK: #000000;
$COLOR_WHITE: #ffffff;
$COLOR_DARK: #332732;
$COLOR_NORMAL: #4d394b;
$COLOR_LIGHT: #958994;
$COLOR_LIGHT_40: #dedede;


.nopadding{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-toggler{
    position: relative;
    right: -15px;
}

.bx-loading{
	background: rgba(255,255,255,0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
}



/*-----------------------
    Component
----------------------- */
.message {
    .message__list {
        overflow-y: scroll;
        height: calc(100vh - 150px);
        max-height: calc(100vh - 150px);
        .message__list__item {        
            position: relative;
            width: 100%;
            display: flex;
            margin-bottom: 10px;
            .message__list__item__avatar{
                height: 40px;
                width: 40px;
                border: 1px solid $COLOR_LIGHT_40;
                border-radius: 50%;
                img {
                    height: 40px;
                    width: 40px;
                }
            }
            .message__list__item__text {
                width: calc(100% - 34px);
                padding: 0 8px;
                .message__list__item__text__auther {
                    font-weight: bold;
                    span {
                        font-size: 11px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .message__form {
        border: 2px solid $COLOR_LIGHT_40;
        border-radius: 4px;
        height: 48px;
        margin: 5px;
        textarea {
            overflow: auto;
            resize: none;
            width: 100%;
            height: 100%;
            border: none;
            border-left: 2px solid $COLOR_LIGHT_40;
            padding: 5px 15px;
            outline: none !important;
        }
        button {
            background: transparent;
            width: 100%;
            height: 100%;
            border: none;
            padding: 4px;
            cursor: pointer;
            path {
                fill: $COLOR_LIGHT_40;
            }
        }
    }
}
.sidebar {
    height: 100vh;
    border-right: 1px solid #dedede;
    padding: 0px;
    position: relative;
    .sidebar__room {
        background: $COLOR_DARK;
        width: 60px;
        height: 100vh;
        position: absolute;
        left: 0px;
        .sidebar__room__actionbar {
            list-style: none;
            padding: 0px;
            margin: 0px;
            position: absolute;
            bottom: 0px;
            width: 100%;
            li {
                border-top: 1px solid $COLOR_LIGHT;
                width: 100%;
                font-size: 12px;
                text-align: center;
                padding: 15px 0px;
                cursor: pointer;
                a {
                    padding: 0px;
                }
                path {
                    fill: $COLOR_LIGHT;
                }
            }
        }
        .sidebar__room__list{
            list-style: none;
            padding: 0px;
            margin: 0 0 15px 0;
            width: 100%;
            .sidebar__room__list__li{
                width: 100%;
                font-size: 12px;
                text-align: center;
                padding: 5px 0px;
                cursor: pointer;
                position: relative;
                path {
                    fill: $COLOR_NORMAL;
                }
                &.sidebar__room__list__li--active {
                    path {
                        fill: $COLOR_LIGHT;
                    }
                    &:after {
                        background: $COLOR_LIGHT;
                        position: absolute;
                        content: ' ';
                        width: 5px;
                        height: 40px;
                        top: calc(50% - 20px);
                        left: 0px;
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
        }
    }
    .sidebar__channel {
        background: $COLOR_NORMAL;
        width: calc( 100% - 60px );
        height: 100vh;
        position: absolute;
        right: 0px;
        .sidebar__channel__toggle {
            background: $COLOR_DARK;
            cursor: pointer;
            padding: 5px;
            color: $COLOR_LIGHT;
            path {
                fill: $COLOR_LIGHT;
            }
        }
        .sidebar__channel__title {
            width: 100%;
            border-bottom: 1px solid $COLOR_DARK;
            color: $COLOR_LIGHT;
            padding: 10px;
            margin-bottom: 15px;
            h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .sidebar__channel__add{
            a {
                font-size: 9px;
                color: $COLOR_LIGHT;
                path {
                    fill: $COLOR_LIGHT;
                }
            }
        }
        .sidebar__channel__list {
            list-style: none;
            padding: 0 10px 0 0;
            margin: 0 0 15px 0;
            width: 100%;
            .sidebar__channel__list__li {
                width: 100%;
                font-size: 12px;
                padding: 5px 5px 5px 10px;
                cursor: pointer;
                position: relative;
                color: $COLOR_LIGHT;
                font-size: 15px;
                &.sidebar__channel__list__li--active{
                    background: $COLOR_LIGHT;
                    color: $COLOR_WHITE;
                    border-radius: 0 4px 4px 0;
                    font-weight: bold;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .sidebar {
        width: 250px !important;
        max-width: 250px !important;
        position: absolute;
        z-index: 999;
        left: -260px;
        &.active {
            left: 0px;
        }
    }
}


/*-----------------------
    Form
----------------------- */
.input-group-file {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    input {
        opacity: 0;
    }
    &:before {
        position: absolute;
        content: ' click to select avatar ';
        width: 100%;
        left: 0px;
        text-align: center;
        font-weight: bold;
        color: #999;
    }
}


/*-----------------------
    Button
----------------------- */
.btn {
    &.btn--sidebar {
        border: none;
        background: transparent;
    }
}


/*-----------------------
    Helpers
----------------------- */
.spinner {
    margin: 20% auto 0;
    width: 100px;
    text-align: center;
}

.spinner > div {
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}






