

.sidebar {
    height: 100vh;
    border-right: 1px solid #dedede;
    padding: 0px;
    position: relative;
    .sidebar__logo {
        background: #dedede;
        top: 0px;
        position: absolute;
        width: 100%;
        height: 80px;
    }
    .sidebar__chatlist {
        height: calc( 100% - 160px );
        width: 100%;
        position: absolute;
        top: 80px;
        .sidebar__chatlist__button {
            background: #999;
            border: none;
            width: 100%;
            height: 40px;
        }
        .sidebar__chatlist__list{
            list-style: none;
            padding: 0px;
            .sidebar__chatlist__list__li{
                border-bottom: 1px solid #dedede;
                padding: 10px 15px;
                cursor: pointer;
                &.sidebar__chatlist__list__li--active{
                    background: #1674b9;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
    .sidebar__actionbar {
        background: #dedede;
        bottom: 0px;
        position: absolute;
        width: 100%;
        height: 80px;
    }
}


.bx-loading{
	background: rgba(255,255,255,0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.spinner {
    margin: 20% auto 0;
    width: 100px;
    text-align: center;
}

.spinner > div {
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

